<html>
<head>
<meta charset="UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron mb-0">
			<h1 class="display-4">Meus Pedidos</h1>
		</div>
		
		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="" >Todos</a>
				<a class="nav-item nav-link" href="" >Aguardando</a>
				<a class="nav-item nav-link" href="" >Aprovado</a>
				<a class="nav-item nav-link" href="" >Entregue</a>
			</div>
			<a href="/pedido/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
		</nav>
		
		<div class="card" th:each="pedido : ${pedidos}">
			<div class="card-header" th:text="${pedido.nomeProduto}">Nome do produto</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="row">
							<div class="col-md-5">
								Valor: <span th:text="${pedido.valorNegociado}">280,00</span>
							</div>
							<div class="col-md-7">
								Data de entrega: <span th:text="${pedido.dataDaEntrega}">22/02/2022</span>
							</div>
						</div>
		
						<div>Produto</div>
						<input class="form-control" th:value="${pedido.urlProduto}"
							value="Url do Produto" />
		
						<div>Descrição</div>
						<div>
							<textarea class="form-control" th:text="${pedido.descricao}">Descrição do pedido</textarea>
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:alt="${pedido.nomeProduto}" th:src="${pedido.urlImagem}" src="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>